Engine/Engine/adapterinfo.txt
Engine/Engine/shader-error.txt
Engine/Engine/Debug/textureshaderclass.obj
Engine/Engine/Debug/textureclass.obj
Engine/Engine/Debug/modelclass.obj
Engine/Engine/Debug/systemclass.obj
Engine/Engine/Debug/d3dclass.obj
Engine/Engine/Debug/colorshaderclass.obj
Engine/Engine/Debug/cameraclass.obj
Engine/Engine/Debug/graphicsclass.obj
Engine/Engine/Debug/inputclass.obj
Engine/Engine/Debug/main.obj
Engine/Debug/Engine.exe
Engine/Debug/Engine.pdb
Engine/Engine.opensdf
Engine/Engine/Debug/Engine.ilk
Engine/Engine/Debug/Engine.log
Engine/Engine/Debug/Engine.Build.CppClean.log
Engine/Engine/Debug/Engine.tlog/cl.command.1.tlog
Engine/Engine/Debug/Engine.tlog/CL.read.1.tlog
Engine/Engine/Debug/Engine.tlog/CL.write.1.tlog
Engine/Engine/Debug/Engine.tlog/Engine.lastbuildstate
Engine/Engine/Debug/Engine.tlog/link.command.1.tlog
Engine/Engine/Debug/Engine.tlog/link.read.1.tlog
Engine/Engine/Debug/Engine.tlog/link.write.1.tlog
Engine/Engine/Debug/vc120.idb
Engine/Engine/Debug/vc120.pdb
Engine/Debug/Engine.ilk
Engine/Engine/Debug/Engine.log
*.suo
Engine/Engine/Debug/Engine.Build.CppClean.log
Engine/Engine.sdf
Engine/Engine/Debug/Engine.log
Engine/Engine/Debug/Engine.tlog/rc.command.1.tlog
Engine/Engine/Debug/Engine.tlog/rc.read.1.tlog
Engine/Engine/Debug/Engine.tlog/rc.write.1.tlog
Engine/Engine/Debug/Engine.log
*.log
*.sdf
*.log
Engine/Engine.sdf
*.obj
*.sdf
*.obj
*.obj
*.obj